.app-toolbar {
   position: sticky;
    position: webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  .mat-grid-tile .mat-figure {
   justify-content: flex-start !important ;
   align-items: flex-start !important;
}

.example-spacer {
   flex: 1 1 auto;
 }

.container{
   flex-direction: row;
   // display: flex; 
   justify-content: space-evenly;
}

.logo-container{
   width: 100%;  
}
.icon-container{
   width: 100%;
   text-align: right;
   flex-direction: row;
   display: flex;
   justify-content: flex-end;
}
.nav-container {
   flex-direction: row;
   display: flex;
   justify-content: space-evenly;
}

.fuzzyLabel{
   padding-right: 4px; 
   padding-left: 2px; 
   background: rgba(255, 165, 0, 0.23);
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 2px;
   padding-left: 9px;
   margin: 2px; 
}

.slideOutProfileFuzzySearch:hover + .fuzzyLabel{
   background-color: yellow;
   -webkit-animation: mymove 1s infinite;
   -moz-animation: mymove 1s infinite;
   -o-animation: mymove 1s infinite;
   animation: mymove 1s infinite;     
}

@keyframes mymove {
   0%   {top: 0px;width:100px;height: 100px;}
   25%  {top: 200px;width:100px;height: 100px;}
   50%  {top: 100px;width:100px;height: 100px;}
   75%  {top: 200px;width:100px;height: 100px;}
   100% {top: 0px;width:100px;height: 100px;}
 }