<div class="container">
  <header>
    <mat-toolbar class="app-toolbar" style="background-image: linear-gradient(to bottom, wheat, gray,white, white, white, white, wheat);">
      
        <div class="logo-container">
          <a class="landing-logo" routerLink='home'><img [src]="LOGO_NAV" alt="" style="max-height: 30px;"></a>
        </div>

        <div style="float:center; border-radius: 9px; border: outset; border-color:gainsboro; border-width: 1px; max-height: 30px;">
          <!-- margin-top: 40px; margin-right: 200px; -->
          <input class="slideOutProfileFuzzySearch" type="text" placeholder="search"
            style="text-align: center; border-radius: 9px; border: outset; border-color:gainsboro;  border-width: .75px; padding: 4px; max-height: 30px;" />
        </div>

        <div class="icon-container">
          <div>
            <a class="hoverButtons" [routerLink]="[ 'home' ]"><strong><img
                  [src]="NAV_HOME" /></strong></a>
          </div>
          <div>
            <a class="hoverButtons" [routerLink]="[ 'user-create' ]"><strong><img
              [src]="NAV_CREATE" /></strong></a>
          </div>
          <div>
            <a class="hoverButtons" [routerLink]="[ 'event' ]"><strong><img
              [src]="NAV_EVENTS" /></strong></a>
          </div>
          <div>
            <a class="hoverButtons" [routerLink]="[ 'user-profile' ]"><strong><img
              [src]="NAV_PROFILE" /></strong></a>
          </div>
        </div>
     
    </mat-toolbar>
  </header>
</div>
