<div>
    <h1 style="margin-left: 200px; display:inline-block;">User Home Page</h1> 
    <div style="float:right; margin-top: 40px; margin-right: 200px; border-radius: 9px; border: outset; border-color:gainsboro; border-width: 1px;">
        <input class="fuzzyLabel" type="button" value="Search Profiles"/>
        <input class="slideOutProfileFuzzySearch" type="text" style=" border-radius: 9px; border: outset; border-color:gainsboro;  border-width: .75px; padding: 4px;"/></div>
    <br>

    <profile-general></profile-general>
    <br>
    <h2>This Page will hold:</h2>
    <table>
        <tr>
            <li>User Following-Based Posted Media & Events hosted by users & sponsered events</li>
            <li>Standard SM style home page</li>
            <li>updates, new recent post since users last login</li>
            <li>tbd</li>
    </table>
  </div>