<div style="width: 50%;">
  <div class="user-home-container">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Random Following User</mat-card-title>
        <mat-card-subtitle>Irving, TX</mat-card-subtitle>
      </mat-card-header>

      <div class="post-image-div">
        <img mat-card-image src="https://www.mustang6g.com/forums/attachments/dsc_3431-3-jpg.500655/" class="widthSet"
          alt="">
      </div>
      <mat-card-content>
        <p>
          It's been a long journey, but i finally finished my project car
          Thank you all for the support!
          #Vroom
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><img src="https://img.icons8.com/ios-filled/15/000000/like.png" /></button>
        <button mat-button><img src="https://img.icons8.com/ios-filled/15/000000/link--v1.png" /></button>
        <button mat-button><img src="https://img.icons8.com/ios-filled/15/000000/comment-discussion.png" /></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
